= form_for ["admin", @category] do |f|
  - if @category.errors.any?
    .alert.alert-danger
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      - @category.errors.full_messages.each do |message|
        = message
        %br
  .form-group
    = f.label :name
    = f.text_field :name, class:"form-control"
  - if Product.any?
    .form-group
      = f.label :product_ids, "Products"
      = f.collection_select(:product_ids, Product.all, :id, :title, {} , {multiple:true, class:"form-control"})
  .form-group
    = f.submit 'Save', class:"btn btn-success float-right"
  .clearfix
