.clear-100
.card
  .card-header
    %h1 Categories
  %table.table
    %thead
      %th Name
      %th Actions
    %tbody
      - @categories.each do |category|
        %tr
          %td= category.name
          %td
            = link_to 'Show', admin_category_path(category), class: "btn btn-secondary btn-sm"
            = link_to 'Edit', edit_admin_category_path(category), class: "btn btn-secondary btn-sm"
            = link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"
  .card-footer
    = link_to 'New Category', new_admin_category_path, class: "btn btn-success float-right"
