.clear-100
.card
  .card-header
    %h1 Product
  .card-body
    %p
      %b Title:
      = @product.title
    %p
      %b Description:
      = @product.description
    - if @product.categories.any?
      %p
        %b Categories:
        %ul
          - @product.categories.each do |category|
            = link_to category.name, edit_admin_category_path(category), class: "text-muted"
            %br
  .card-footer
    = link_to 'Edit', edit_admin_product_path(@product)
    \|
    = link_to 'Back', admin_products_path
