%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item{class:"#{active? admin_products_path}"}
        = link_to "Products",admin_products_path, class:"nav-link"
      %li.nav-item{class:"#{active? admin_categories_path}"}
        = link_to "Categories",admin_categories_path, class:"nav-link"
  %ul.navbar-nav.nav.justify-content-end
    %li.nav-item
      = link_to "Logout", destroy_user_session_path, class:"nav-link"
